:root {
    --main-red: rgb(255, 69, 69); 
}
body {
    margin: 0;
}

* {
    font-size: 17px;
    font-family: pretendard;
    box-sizing: border-box;
}

img {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-user-select: none;
}

button,input,textarea,select {
    outline: none;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    background: rgb(245,245,245);
}

button {
    cursor: pointer;
}

.region {
    -webkit-app-region: drag;
}

.no-region {
    -webkit-app-region: nodrag;
}